{% extends "bootstrap_layout.html" %}
{% set active_page = 'weather_forecast' %}

{% block content %}

    <h2>Movie Preferences</h2>

    <p>Please input the key characteristics you would like your movie to have.</p>

    <label for="genres">Choose a genre:</label>

    <select name="genres" id="genres">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
   
   
    <form action="/weather/forecast" method="POST">

        <label>Country Code:</label>
        <input type="text" name="country_code" placeholder="US" value="US">
        <br>

        <label>Zip Code:</label>
        <input type="text" name="zip_code" placeholder="20057" value="20057">
        <br>

        <button>Submit</button>
    </form>

{% endblock %}